.periodic-table {
    display: grid;
    grid-template-columns: repeat(18, 55px);
    grid-template-rows: repeat(10, 55px);
    position: absolute;
    grid-gap: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.element {
    background: #B7EAF7;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.element:hover {
    transform: scale(2, 2);
    z-index: 1;
    border: 2px solid white;
}
.element .number {
    font-size: 8px;
    position: absolute;
    top: 5px;
    left: 5px;
}
.element .name {
    font-size: 8px;
    position: absolute;
    bottom: 5px;
    left: 5px;
}